* {
    box-sizing: border-box;
    }
    
    *:focus {
        outline: none;
    }
    body {
    font-family: Arial;
    background:url(../img/xdxd.jpg) no-repeat center top;
    background-size: cover;
    }
    
    .login {
    margin: 10px auto;
    width: 300px;
    }
    .login-screen {
    background-color:azure;
    padding: 10px;
    border-radius: 5px
    }
    
    .app-title {
    text-align: center;
    color:cornflowerblue;
    }
    
    .login-form {
    text-align: center;
    color:black
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    }
    
    input:focus {
    border: 2px solid aquamarine;
    box-shadow: none;
    }
    
    .btn {
      border: 2px solid transparent;
      background:lightskyblue;
      color:white;
      font-size: 14px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 250px;
      margin: 0 auto;
    }
    
    .btn:hover {
      background-color:aquamarine;
    }
    
    .login-link {
      font-size: 10px;
      color:black;
      display: block;
        margin-top: 12px;
    }

    .productos {
        margin: 5px;
    }